/* =============================
CONTAINER
============================= */
.__calendar__container__ {
  width:100%;
  height:100%;
}

/* =============================
HEADER
============================= */
.__calendar__container__ .__calendar__container__header__ {
  text-align: center;
  display: flex;
  justify-content: space-between;
}

.__calendar__container__ .__calendar__container__header__ div {
  margin:auto 0;
}

.__calendar__arrow__prev__,
.__calendar__arrow__next__ {
  display: inline-block;
  width:1em;
  height:1em;
  text-align: center;
  font-size: 2.0em;
  cursor: pointer;
}

.__calendar__arrow__next__ {
  margin-left:5px !important;
}

.__calendar__arrow__prev__ i {
  /* margin-left:10px; */
}

.__calendar__arrow__prev__ i::after {
  transform: rotate(135deg);
  margin-top: 15px;
}

.__calendar__arrow__prev__ i::before {
  transform: rotate(45deg);
  margin-top: 5px;
}

.__calendar__arrow__next__ i::after {
  transform: rotate(45deg);
  margin-top: 15px;
}

.__calendar__arrow__next__ i::before {
  transform: rotate(135deg);
  margin-top: 5px;
}

.__calendar__arrow__prev__ i::after,
.__calendar__arrow__prev__ i::before,
.__calendar__arrow__next__ i::after,
.__calendar__arrow__next__ i::before {
  content: "";
  position: absolute;
  /* background-color: #ace5ee; */
  background-color: black;
  width: 3px;
  height: 15px;
}

.__calendar__container__ .__calendar__container__header__ .__calendar__select__date__ {
  font-size: 2.5em;
}

.__calendar__container__ .__calendar__container__header__ .__calendar__button__area__ {
  align-items: center;
  display: flex;
}

.__calendar__container__ .__calendar__container__header__ .__calendar__button__area__ button {
  border: 1px solid #C0C0C0;
  border-radius: 10px;
  padding: 5px 10px 5px 10px;
  cursor: pointer;
}

/* =============================
BODY
============================= */
.__calendar__container__ .__calendar__container__body__ {
  margin-top: 5px;
  text-align: center;
}

.__calendar__contents__ {
  display: none;
}

.__calendar__contents__.__is_active__ {
  display: block;
  -webkit-animation: fade-in .5s ease-out;
  -moz-animation: fade-in .5s ease-out;
}

@-webkit-keyframes fade-in {
  /* 0% { opacity: 0; -webkit-transform: translateY(-100%); }   slide-down
100% { opacity: 1; -webkit-transform: translateY(0); } */
  from {opacity: 0;}
  to {opacity: 1;}
}
@-moz-keyframes fade-in {
  /* 0% { opacity: 0; -moz-transform: translateY(-100%); }   slide-down
100% { opacity: 1; -moz-transform: translateY(0); } */
  from {opacity: 0;}
  to {opacity: 1;}
}

/* =============================
BODY - TYPE: calendar
============================= */

.__calendar__container__ .__calendar__container__body__ .__calendar__contents__ {
  transition: all 2s;
}

.__calendar__container__ .__calendar__container__body__ .__calendar__contents__.__type_calendar__ .__calendar__contents__header__,
.__calendar__container__ .__calendar__container__body__ .__calendar__contents__.__type_calendar__ .__calendar__contents__body__ {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.__calendar__contents__.__type_calendar__ .__calendar__contents__header__ .__header__day_of_week__ {
  flex: 1;
  border-top: 1px solid #C0C0C0;
  border-bottom: 1px solid #C0C0C0;
  padding:10px 0px;
  background-color: #F5F5F5;
}

.__calendar__contents__.__type_calendar__ .__calendar__contents__body__ .__body__day__box__ {
  flex: 1 1 13%;
  height: 7.5em;
  padding-top: 5px;
  padding-bottom: 10px;
  border: 1px solid #F8F8F8;
  text-align: left;
}

.__calendar__contents__.__type_calendar__ .__calendar__contents__body__ .__body__day__box__ .__day__ {
  margin-right: 5px;
  text-align: right;
}

.__calendar__contents__.__type_calendar__ .__calendar__contents__body__ .__body__day__box__ .__day__ span { 
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 50%;
}


.__body__day__box__.__prev__,
.__body__day__box__.__next__ {
  background-color: #F9F9F9;
  color: #C0C0C0;
}

.__body__day__box__.__today__ .__day__ span {
  background-color: #667cd9;
  color:#fff;
}

.__body__day__box__ .__event__ {
  margin-top:5px;
  font-size:14px;
  max-height: calc(100% - 35px);
}
.__body__day__box__ .__event__ div + div {
  margin-top:3px;
}

.__body__day__box__ .__event__ div {
  height:20px;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
}

.__body__day__box__ .__event__ div span {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
  height: 18px;
}

.__body__day__box__ .__event__ div span #text {
  height:20px;
}

.__body__day__box__ .__event__ .full span {
  line-height: 22px;
}

.__body__day__box__ .__event__ .full {
  color: #fff;
}

.__body__day__box__ .__event__ div.start {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.__body__day__box__ .__event__ div.start.full span {
  margin-left:5px;
}

.__body__day__box__ .__event__ div.end {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

/**
하루짜리 앞에만 나오도록 설정
*/
.__body__day__box__ .__event__ div.single span::before {
  content: '';
  border-right-width: 17px;
  border-right-style: solid;
  position: relative;
  margin-right: 5px;
  border-radius: 50%;
}

.__body__day__box__ .__event__ div.value1.single span::before {
  border-right-color: #ace5ee;
}

.__body__day__box__ .__event__ .value1.full {
  background-color: #ace5ee;
}

.__body__day__box__ .__event__ div.value2.single span::before {
  border-right-color: #ff6347;
}

.__body__day__box__ .__event__ .value2.full {
  background-color: #ff6347;
}

.__body__day__box__ .__event__ div.value3.single span::before {
  border-right-color: #EAE3D2;
}

.__body__day__box__ .__event__ .value3.full {
  background-color: #EAE3D2;
}


/* =============================
BODY - TYPE: info
============================= */

.__calendar__contents__.__type_info__ .__calendar__contents__header__ {
  display: flex;
  justify-content: space-between;
  /* background-color: #F5F5F5; */
  border-top: 1px solid #C0C0C0;
  border-bottom: 1px solid #C0C0C0;
  padding:20px;
}

.__calendar__contents__.__type_info__ .__calendar__contents__header__ .__calendar__select__day__ {
  font-size: 2.0em;
}

.__calendar__contents__.__type_info__ .__calendar__contents__header__ .__calendar__select__close__ {
  display:inline-block;
  cursor: pointer;
}

.__calendar__select__close__::after {
  display: inline-block;
  content: "\00d7";
  font-size: 2.0em;
  /* line-height: 48px; */
}


.__calendar__contents__.__type_info__ .__calendar__contents__body__ {
  border-bottom: 1px solid #C0C0C0;
  border-top:0px;
  padding-top:20px;
  padding-bottom:20px;
  height:calc(100% - 2.0rem - 100px);
  text-align: left;
}

.__calendar__contents__.__type_info__ .__calendar__contents__body__ div.__contents__body__event__container__ {
  /* height:100%; */
  text-align: center;
}

.__calendar__contents__.__type_info__ .__calendar__contents__body__ ul.__contents__body__event__container__ {
  /* height:100%; */
  list-style:none;
}

.__calendar__contents__.__type_info__ .__calendar__contents__body__ ul.__contents__body__event__container__ .__body__event__box__ {
  position: relative;
  padding: 0;
  margin: 0;
  padding-bottom: 4px;
  padding-top: 18px;
  /* border-top: 1px dotted #dce7eb; */
}

.__calendar__contents__.__type_info__ .__calendar__contents__body__ ul.__contents__body__event__container__ .__body__event__box__ i {
  position: absolute;
  transform: translate(-6px, 0);
  margin-top: 12px;
  right: 36px;
}

.__calendar__contents__.__type_info__ .__calendar__contents__body__ ul.__contents__body__event__container__ .__body__event__box__ i::before,
.__calendar__contents__.__type_info__ .__calendar__contents__body__ ul.__contents__body__event__container__ .__body__event__box__ i::after  {
  content: "";
  position: absolute;
  /* background-color: #ace5ee; */
  background-color: black;
  width: 3px;
  height: 9px;
}

.__calendar__contents__.__type_info__ .__calendar__contents__body__ ul.__contents__body__event__container__ .__body__event__box__ i::before {
  transform: translate(-2px, 0) rotate(45deg);
}

.__calendar__contents__.__type_info__ .__calendar__contents__body__ ul.__contents__body__event__container__ .__body__event__box__ i::after {
  transform: translate(2px, 0) rotate(-45deg);
}

.__calendar__contents__.__type_info__ .__calendar__contents__body__ ul.__contents__body__event__container__ .__body__event__box__ i::before,
.__calendar__contents__.__type_info__ .__calendar__contents__body__ ul.__contents__body__event__container__ .__body__event__box__ i::after,
.__calendar__contents__.__type_info__ .__calendar__contents__body__ ul.__contents__body__event__container__ .__body__event__box__ .contents  {
  transition: all 0.25s ease-in-out;
}

.__calendar__contents__.__type_info__ .__calendar__contents__body__ ul.__contents__body__event__container__ .__body__event__box__ .contents  {
  position: relative;
  overflow: hidden;
  max-height: 100%;
  opacity: 1;
  transform: translate(0, 0);
}

.__calendar__contents__.__type_info__ .__calendar__contents__body__ ul.__contents__body__event__container__ .__body__event__box__ input[type=checkbox] {
  position: absolute;
  cursor: pointer;
  width: 100%;
  height: 32px;
  z-index: 1;
  opacity: 0;
}

.__calendar__contents__.__type_info__ .__calendar__contents__body__ ul.__contents__body__event__container__ .__body__event__box__ .title {
  font-size: 18px;
  line-height: 34px;
  letter-spacing: 1px;
  display: block;
  margin: 0;
  cursor: pointer;
}

.__calendar__contents__.__type_info__ .__calendar__contents__body__ ul.__contents__body__event__container__ .__body__event__box__ input[type=checkbox]:checked ~ .contents {
  margin-top: 0;
  max-height: 0;
  opacity: 0;
  transform: translate(0, 50%);
}

.__calendar__contents__.__type_info__ .__calendar__contents__body__ ul.__contents__body__event__container__ .__body__event__box__ input[type=checkbox]:checked ~ i::before {
  transform: translate(2px, 0) rotate(45deg);
}

.__calendar__contents__.__type_info__ .__calendar__contents__body__ ul.__contents__body__event__container__ .__body__event__box__ input[type=checkbox]:checked ~ i::after {
  transform: translate(-2px, 0) rotate(-45deg);
}

.__calendar__contents__.__type_info__ .__calendar__contents__body__ ul.__contents__body__event__container__ .__body__event__box__ .title::before {
  content: '';
  border-right-width: 22px;
  border-right-style: solid;
  position: relative;
  margin-right: 10px;
  border-radius: 50%;
  border-right-color: #ace5ee;
}

/* .__calendar__contents__.__type_info__ .__calendar__contents__body__ ul.__contents__body__event__container__ .__body__event__box__ .__event__ .__event__title__::before {
  content: '';
  border-right-width: 22px;
  border-right-style: solid;
  position: relative;
  margin-right: 10px;
  border-radius: 50%;
} */

/* .__calendar__contents__.__type_info__ .__calendar__contents__body__ ul.__contents__body__event__container__ .__body__event__box__ .__event__ .__event__title__.value1::before {
  border-right-color: #ace5ee;
}

.__calendar__contents__.__type_info__ .__calendar__contents__body__ ul.__contents__body__event__container__ .__body__event__box__ .__event__ .__event__title__.value2::before {
  border-right-color: #ff6347;
}

.__calendar__contents__.__type_info__ .__calendar__contents__body__ ul.__contents__body__event__container__ .__body__event__box__ .__event__ .__event__title__.value3::before {
  border-right-color: #EAE3D2;
} */
