/* =============================
RESET CSS
============================= */

div.__calendar__container__ {
  border:0;font-size:100%;font:inherit;margin:0;padding:0;vertical-align:baseline
}

div.__calendar__container__ div,
div.__calendar__container__ form, 
div.__calendar__container__ i,
div.__calendar__container__ label,
div.__calendar__container__ li,
div.__calendar__container__ p,
div.__calendar__container__ span,
div.__calendar__container__ table,
div.__calendar__container__ tbody,
div.__calendar__container__ td,
div.__calendar__container__ tfoot,
div.__calendar__container__ th,
div.__calendar__container__ thead,
div.__calendar__container__ tr,
div.__calendar__container__ ul {
  border:0;font-size:100%;font:inherit;margin:0;padding:0;vertical-align:baseline
}

div.__calendar__container__ {line-height:1}
div.__calendar__container__ ul {list-style: none;}
div.__calendar__container__ table {border-collapse:collapse;border-spacing:0}

div.__calendar__container__ input,
div.__calendar__container__ textarea {
  width: 100%; 
  box-sizing: border-box;
  -webkit-box-sizing:border-box;
  -moz-box-sizing: border-box;
}

/* =============================
COMMON
============================= */

i.up-down-arrow-icon::after {
  transform: translate(2px, 0) rotate(45deg);
}

i.up-down-arrow-icon::before {
  transform: translate(-2px, 0) rotate(-45deg);
}

@keyframes slide_down{
  0%{
    height:0px;
  }
  100%{
    height:120px;
  }
}

/* =============================
CONTAINER
============================= */
.__calendar__container__ {
  width:100%;
  height:100%;
}

/* =============================
HEADER
============================= */
.__calendar__container__ .__calendar__container__header__ {
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.__calendar__container__ .__calendar__container__header__ .__calendar__arrow__container__ {
  display: flex;
  justify-content: space-between;
  width:50px;
  height: 48px;

}

.__calendar__arrow__prev__,
.__calendar__arrow__next__ {
  display: inline-block;
  width:1em;
  height:1em;
  text-align: center;
  font-size: 2.0em;
  cursor: pointer;
  height:100%;
}

.__calendar__arrow__prev__ i::after {
  transform: rotate(135deg);
  margin-top: 20px;
}

.__calendar__arrow__prev__ i::before {
  transform: rotate(45deg);
  margin-top: 10px;
}

.__calendar__arrow__next__ i::after {
  transform: rotate(45deg);
  margin-top: 20px;
}

.__calendar__arrow__next__ i::before {
  transform: rotate(135deg);
  margin-top: 10px;
}

.__calendar__arrow__prev__ i::after,
.__calendar__arrow__prev__ i::before,
.__calendar__arrow__next__ i::after,
.__calendar__arrow__next__ i::before {
  content: "";
  position: absolute;
  background-color: black;
  width: 3px;
  height: 15px;
}

.__calendar__container__ .__calendar__container__header__ .__calendar__select__date__ {
  font-size: 2.5em;
  line-height: 48px;
  margin-top: 5px;
}

.__calendar__container__ .__calendar__container__header__ .__calendar__button__area__ {
  /* margin-bottom: 3px; */
}

.__calendar__container__ .__calendar__container__header__ .__calendar__button__area__ button {
  height: 35px;
  background-color: #667cd9;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 8px;
  padding: 0 10px;
  width: 75px;
}

/* =============================
BODY
============================= */
.__calendar__container__ .__calendar__container__body__ {
  margin-top: 5px;
  text-align: center;
}

.__calendar__contents__ {
  display: none;
}

.__calendar__contents__.__is_active__ {
  display: block;
  -webkit-animation: fade-in .5s ease-out;
  -moz-animation: fade-in .5s ease-out;
}

@-webkit-keyframes fade-in {
  from {opacity: 0;}
  to {opacity: 1;}
}
@-moz-keyframes fade-in {
  from {opacity: 0;}
  to {opacity: 1;}
}

/* =============================
BODY - TYPE: calendar
============================= */

.__calendar__container__ .__calendar__container__body__ .__calendar__contents__ {
  transition: all 2s;
}

.__calendar__container__ .__calendar__container__body__ .__calendar__contents__.__type_calendar__ .__calendar__contents__header__,
.__calendar__container__ .__calendar__container__body__ .__calendar__contents__.__type_calendar__ .__calendar__contents__body__ {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.__calendar__contents__.__type_calendar__ .__calendar__contents__header__ .__header__day_of_week__ {
  flex: 1;
  border-top: 1px solid #C0C0C0;
  border-bottom: 1px solid #C0C0C0;
  padding:10px 0px;
  background-color: #F5F5F5;
}

.__calendar__contents__.__type_calendar__ .__calendar__contents__body__ .__body__day__box__ {
  flex: 1 1 13%;
  height: 7.5em;
  padding-top: 5px;
  padding-bottom: 10px;
  border: 1px solid #F8F8F8;
  text-align: left;
  cursor: pointer;
}

.__calendar__contents__.__type_calendar__ .__calendar__contents__body__ .__body__day__box__ .__day__ {
  margin-right: 5px;
  text-align: right;
}

.__calendar__contents__.__type_calendar__ .__calendar__contents__body__ .__body__day__box__ .__day__ span { 
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 32px;
  text-align: center;
  border-radius: 50%;
}

.__body__day__box__.__prev__,
.__body__day__box__.__next__ {
  background-color: #F9F9F9;
  color: #C0C0C0;
}

.__body__day__box__.__today__ .__day__ span {
  background-color: #667cd9;
  color:#fff;
}

.__body__day__box__ .__event__ {
  margin-top:5px;
  font-size:14px;
  max-height: calc(100% - 35px);
}
.__body__day__box__ .__event__ div + div {
  margin-top:3px;
}

.__body__day__box__ .__event__ div {
  height:20px;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
  line-height: 20px;
}

.__body__day__box__ .__event__ div span {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
  /* height: 18px; */
}

.__body__day__box__ .__event__ div span #text {
  height:20px;
}

.__body__day__box__ .__event__ .full span {
  line-height: 22px;
}

.__body__day__box__ .__event__ .full {
  color: #fff;
}

.__body__day__box__ .__event__ div.start {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.__body__day__box__ .__event__ div.start.full span {
  margin-left:5px;
}

.__body__day__box__ .__event__ div.end {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

/**
하루짜리 앞에만 나오도록 설정
*/
.__body__day__box__ .__event__ div.single span::before {
  content: '';
  border-right-width: 17px;
  border-right-style: solid;
  position: relative;
  margin-right: 5px;
  border-radius: 50%;
}

.__body__day__box__ .__event__ div.value1.single span::before {
  border-right-color: #ace5ee;
}

.__body__day__box__ .__event__ .value1.full {
  background-color: #ace5ee;
}

.__body__day__box__ .__event__ div.value2.single span::before {
  border-right-color: #ff6347;
}

.__body__day__box__ .__event__ .value2.full {
  background-color: #ff6347;
}

.__body__day__box__ .__event__ div.value3.single span::before {
  border-right-color: #EAE3D2;
}

.__body__day__box__ .__event__ .value3.full {
  background-color: #EAE3D2;
}


/* =============================
BODY - TYPE: info
============================= */

.__calendar__contents__.__type_info__ {
  /* border: 1px solid #C0C0C0; */
  border: 1px solid #F8F8F8;
}

.__calendar__contents__.__type_info__ .__calendar__contents__header__ {
  display: flex;
  justify-content: space-between;
  /* background-color: #F5F5F5; */
  border-top: 1px solid #C0C0C0;
  border-bottom: 1px solid #C0C0C0;
  padding:20px;
}

.__calendar__contents__.__type_info__ .__calendar__contents__header__ .__calendar__select__day__ {
  font-size: 2.0em;
}

.__calendar__contents__.__type_info__ .__calendar__contents__header__ .__calendar__contents__close__ {
  display:inline-block;
  cursor: pointer;
}

.__calendar__contents__close__::after {
  display: inline-block;
  content: "\00d7";
  font-size: 2.0em;
}


.__calendar__contents__.__type_info__ .__calendar__contents__body__ {
  border-top:0px;
  padding:20px;
  height:calc(100% - 2.0rem - 142px);
  text-align: left;
  overflow: auto;
}

.__calendar__contents__.__type_info__ .__calendar__contents__body__::-webkit-scrollbar {
  width: 5px;
}

.__calendar__contents__.__type_info__ .__calendar__contents__body__::-webkit-scrollbar-thumb {
  background-color: #667cd9;
  border-radius: 10px;
}
.__calendar__contents__.__type_info__ .__calendar__contents__body__::-webkit-scrollbar-track {
  background-color: #F8F8F8;
  /* background-color: #C0C0C0; */
  border-radius: 10px;
}


.__calendar__contents__.__type_info__ .__calendar__contents__body__ div.__contents__body__event__container__ {
  /* height:100%; */
  text-align: center;
}

.__calendar__contents__.__type_info__ .__calendar__contents__body__ ul.__contents__body__event__container__ .__body__event__box__ {
  position: relative;
  padding: 0;
  margin: 0;
  padding-bottom: 4px;
  padding-top: 18px;
  /* border-top: 1px dotted #dce7eb; */
}

.__calendar__contents__.__type_info__ .__calendar__contents__body__ ul.__contents__body__event__container__ .__body__event__box__ i {
  position: absolute;
  transform: translate(-6px, 0);
  margin-top: 12px;
  right: 20px;
}

.__calendar__contents__.__type_info__ .__calendar__contents__body__ ul.__contents__body__event__container__ .__body__event__box__ i::before,
.__calendar__contents__.__type_info__ .__calendar__contents__body__ ul.__contents__body__event__container__ .__body__event__box__ i::after  {
  content: "";
  position: absolute;
  /* background-color: #ace5ee; */
  background-color: black;
  width: 3px;
  height: 9px;
}

.__calendar__contents__.__type_info__ .__calendar__contents__body__ ul.__contents__body__event__container__ .__body__event__box__ i::before {
  transform: translate(-2px, 0) rotate(45deg);
}

.__calendar__contents__.__type_info__ .__calendar__contents__body__ ul.__contents__body__event__container__ .__body__event__box__ i::after {
  transform: translate(2px, 0) rotate(-45deg);
}

.__calendar__contents__.__type_info__ .__calendar__contents__body__ ul.__contents__body__event__container__ .__body__event__box__ i::before,
.__calendar__contents__.__type_info__ .__calendar__contents__body__ ul.__contents__body__event__container__ .__body__event__box__ i::after,
.__calendar__contents__.__type_info__ .__calendar__contents__body__ ul.__contents__body__event__container__ .__body__event__box__ .__contents__  {
  transition: all 0.25s ease-in-out;
}

.__calendar__contents__.__type_info__ .__calendar__contents__body__ ul.__contents__body__event__container__ .__body__event__box__ .__contents__  {
  position: relative;
  overflow: hidden;
  max-height: 100%;
  opacity: 1;
  transform: translate(0, 0);
  padding:10px 0px;
}

.__calendar__contents__.__type_info__ .__calendar__contents__body__ ul.__contents__body__event__container__ .__body__event__box__ .__contents__ p,
.__calendar__contents__.__type_info__ .__calendar__contents__body__ ul.__contents__body__event__container__ .__body__event__box__ .__contents__ div {
  padding: 10px 0px;
}

.__calendar__contents__.__type_info__ .__calendar__contents__body__ ul.__contents__body__event__container__ .__body__event__box__ input[type=checkbox] {
  position: absolute;
  cursor: pointer;
  width: 100%;
  height: 32px;
  z-index: 1;
  opacity: 0;
}

.__calendar__contents__.__type_info__ .__calendar__contents__body__ ul.__contents__body__event__container__ .__body__event__box__ .__title__ {
  font-size: 18px;
  line-height: 34px;
  letter-spacing: 1px;
  display: block;
  margin: 0;
  cursor: pointer;
}

.__calendar__contents__.__type_info__ .__calendar__contents__body__ ul.__contents__body__event__container__ .__body__event__box__ input[type=checkbox]:checked ~ .__contents__ {
  margin-top: 0;
  max-height: 0;
  opacity: 0;
  transform: translate(0, 50%);
  padding:0px;
}

.__calendar__contents__.__type_info__ .__calendar__contents__body__ ul.__contents__body__event__container__ .__body__event__box__ input[type=checkbox]:checked ~ i::before {
  transform: translate(2px, 0) rotate(45deg);
}

.__calendar__contents__.__type_info__ .__calendar__contents__body__ ul.__contents__body__event__container__ .__body__event__box__ input[type=checkbox]:checked ~ i::after {
  transform: translate(-2px, 0) rotate(-45deg);
}

.__calendar__contents__.__type_info__ .__calendar__contents__body__ ul.__contents__body__event__container__ .__body__event__box__ .__title__::before {
  content: '';
  border-right-width: 22px;
  border-right-style: solid;
  position: relative;
  margin-right: 10px;
  border-radius: 50%;
  border-right-color: #ace5ee;
}

.__calendar__contents__.__type_info__ .__calendar__contents__footer__ {
   text-align: center;
   height: 40px;
   align-items: center;
   display: flex;
   justify-content: end;
   padding: 10px 20px;
}

.__calendar__contents__.__type_info__ .__calendar__contents__footer__ button {
  height:100%;
  width:40px;
  border-radius: 50%;
  border: none;

  background-color: #667cd9;
  color: #fff;
  font-size: 24px;
  cursor: pointer;
}

/* =============================
BODY - TYPE: add
============================= */
.__calendar__contents__.__type_add__ {
  /* background-color: yellowgreen; */
  border: 1px solid #F8F8F8;
  text-align: left;
}

.__calendar__contents__.__type_add__ .__calendar__contents__header__ {
  display: flex;
  justify-content: space-between;
  /* background-color: #F5F5F5; */
  border-top: 1px solid #C0C0C0;
  border-bottom: 1px solid #C0C0C0;
  padding:20px;
}

.__calendar__contents__.__type_add__ .__calendar__contents__header__ .__calendar__contents__title__ {
  font-size: 2.0em;
}

.__calendar__contents__.__type_add__ .__calendar__contents__header__ .__calendar__contents__close__ {
  display:inline-block;
  cursor: pointer;
}

.__calendar__contents__.__type_add__ .__calendar__contents__body__ {
  /* padding:20px; */
  border-top:0px;
  padding:20px;
  height:calc(100% - 2.0rem - 142px);
  text-align: left;
  overflow: auto;
}

.__calendar__contents__.__type_add__ .__calendar__contents__body__ .__calendar__event__register__form__ .__form__label__input__ + .__form__label__input__ {
  margin-top:10px;
}

.__calendar__contents__.__type_add__ .__calendar__contents__body__ .__calendar__event__register__form__ .__form__label__input__ label {
  display: block;
}

.__calendar__contents__.__type_add__ .__calendar__contents__body__ .__calendar__event__register__form__ .__form__label__input__ input[type=text],
.__calendar__contents__.__type_add__ .__calendar__contents__body__ .__calendar__event__register__form__ .__form__label__input__ input[type=date],
.__calendar__contents__.__type_add__ .__calendar__contents__body__ .__calendar__event__register__form__ .__form__label__input__ textarea {
  width:100%;
  margin: 10px 0px;
  outline: #667cd9;
  border: 1px solid #C0C0C0;
  padding:0px 5px;
  border-radius: 5px;
}

.__calendar__contents__.__type_add__ .__calendar__contents__body__ .__calendar__event__register__form__ .__form__label__input__ input {
  height:40px;
  border-radius: 5px;
}

.__calendar__contents__.__type_add__ .__calendar__contents__body__ .__calendar__event__register__form__ .__form__label__input__ textarea {
  height:150px;
  padding:5px 5px;
}

.__calendar__contents__.__type_add__ .__calendar__contents__body__ .__calendar__event__register__form__ .__form__label__input__ input:focus,
.__calendar__contents__.__type_add__ .__calendar__contents__body__ .__calendar__event__register__form__ .__form__label__input__ textarea:focus {
  outline: none !important;
  border-color: #667cd9;
  box-shadow: 0 0 5px #667cd9;
}

.__calendar__contents__.__type_add__ .__calendar__contents__body__ .__calendar__event__register__form__btn__area__ {
  text-align: center;
}

.__calendar__contents__.__type_add__ .__calendar__contents__footer__ {
  text-align: center;
  height: 40px;
  padding: 10px 20px;
}

.__calendar__contents__.__type_add__ .__calendar__contents__footer__ button {
  height: 35px;
  border-radius: 8px;
  padding: 0 10px;
  width: 75px;
  cursor: pointer;
}

.__calendar__contents__.__type_add__ .__calendar__contents__footer__ button + button {
  margin-left: 20px;
}

.__calendar__contents__.__type_add__ .__calendar__contents__footer__ button[type=button] {
  background-color: #667cd9;
  color: #fff;
  border: none;
}

.__calendar__contents__.__type_add__ .__calendar__contents__footer__ button[type=reset] {
  border: 1px solid #C0C0C0;
}


/* =============================
TEST
============================= */

.__form__label__input__ .custom-select-test {
  width:100px;
  display: inline-block;
  position: relative;
  margin: 10px 0px;
}

.__form__label__input__ .custom-select-test input[type=checkbox] {
  opacity: 0;
  width:100px;
  position: absolute;
  cursor: pointer;
  height: 40px;
  z-index: 1;
}

.__form__label__input__ .custom-select-test .custom-select-selected-option {
  width:100px;
  height:40px;
  border: 1px solid #C0C0C0;
  display:flex;
  align-items: center;
  position: relative;
  border-radius: 5px;
}

.__form__label__input__ .custom-select-test .custom-select-selected-option span {
  margin-left: 7px;
}

.__form__label__input__ .custom-select-test .custom-select-selected-option i {
  margin-left:60px;
  margin-bottom:10px;
}

.__form__label__input__ .custom-select-test .custom-select-selected-option i::after,
.__form__label__input__ .custom-select-test .custom-select-selected-option i::before {
  content: "";
  position: absolute;
  background-color: black;
  width: 3px;
  height: 9px;
  transition: all 0.25s ease-in-out;
}

.__form__label__input__ .custom-select-test input[type=checkbox]:checked ~ .custom-select-selected-option {
  border:1px solid #667cd9;
  box-shadow: 0 0 5px #667cd9;
}

.__form__label__input__ .custom-select-test input[type=checkbox]:checked ~ .custom-select-selected-option i::after {
  transform: translate(-2px, 0) rotate(45deg);
}

.__form__label__input__ .custom-select-test input[type=checkbox]:checked ~ .custom-select-selected-option i::before {
  transform: translate(2px, 0) rotate(-45deg);
}

.__form__label__input__ .custom-select-test .custom-select-selected-option i::after {
  transform: translate(2px, 0) rotate(45deg);
}

.__form__label__input__ .custom-select-test .custom-select-selected-option i::before {
  transform: translate(-2px, 0) rotate(-45deg);
}

.__form__label__input__ .custom-select-test input[type=checkbox]:checked ~ .custom-select-option-container {
  opacity: 1;
  animation-name:slide_down;
  animation-duration:0.1s;
  max-height: 150px;
  display: block;
}

.__form__label__input__ .custom-select-test .custom-select-option-container {
  width:100px;
  border: 1px solid #C0C0C0;
  position: absolute;
  z-index: 1;
  background: #fff;
  border-radius: 5px;
  top:50px;
  opacity: 0;
  max-height:150px;
  display: none;
  overflow: auto;
}

.__form__label__input__ .custom-select-test .custom-select-option-container .custom-select-options:hover {
  background-color: #667cd9;
  color:#fff;
}

.__form__label__input__ .custom-select-test .custom-select-option-container .custom-select-options {
  height:30px;
  display: flex;
  align-items: center;
  padding-left: 7px;
  cursor: pointer;
}

.__form__label__input__ .custom-select-test .custom-select-option-container .custom-select-options + .custom-select-options {
  border-top: 1px solid #F9F9F9;
}
